%article.post
  %header
    %h2
      %a{:href => item.rel_url}= item.title
    - date = item[:created_at]
    = "Posted on "
    %time{:datetime => date.to_s, :pubdate => true}<
      = date.strftime("%A, %b %e, %Y")
    - if item[:tags]
      = " in #{tags_for(item)}"
  %section.content
    - if item.attributes.has_key?(:place)
      %section.place-info
        %img.map{:src => get_place_map_for(item)}
        %span.name= item[:place][:name]
        %span.address= item[:place][:address]
    = content
  %footer
