%article{:class => ['post', item[:type]].compact.join(' ')}
  %header
    %h2
      %a{:href => item.rel_url}= item.title
    - date = item[:created_at]
    = "Posted on "
    %time{:datetime => date.to_s, :pubdate => true}<
      = date.strftime("%A, %b %e, %Y")
    = " in #{tags_for(item, :base_url => '/tags/')}" if item[:tags]
  %section.content
    = render(item[:type], :item => item) if item.attributes.has_key?(:type)
    = content
  %footer
    - if @show_comment_count
      %a{:href => "#{url_for(item)}#disqus_thread", "data-disqus-identifier" => item.title.parameterize} Comments
