%article{:class => article_classes(item)}
  %header
    %h2
      %a{:href => item.rel_url}= item.title
    - date = item[:created_at]
    = "Posted on "
    %time{:datetime => date.to_s, :pubdate => true}<
      = date.strftime("%A, %b %e, %Y")
    - if item[:tags]
      = " in #{tags_for(item)}"
  %section.content
    = render('place', :item => item) if item.attributes.has_key?(:place)
    = content
  %footer
